@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1621763693363') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sg:before {
  content: "\e7bd";
}

.icon-kr:before {
  content: "\e7c0";
}

.icon-jp:before {
  content: "\e7c4";
}

.icon-us:before {
  content: "\e7eb";
}

.icon-hk:before {
  content: "\e65b";
}

.icon-us1:before {
  content: "\e65f";
}

.icon-IN:before {
  content: "\e682";
}

.icon-nanfeiguoqi:before {
  content: "\e605";
}

.icon-yingguo:before {
  content: "\e608";
}

.icon-weixinzhifu:before {
  content: "\e689";
}

.icon-sync:before {
  content: "\e69c";
}

.icon-taiwan:before {
  content: "\e659";
}

.icon-linux:before {
  content: "\e609";
}

.icon-zhifubao:before {
  content: "\e627";
}

.icon-jianada:before {
  content: "\e818";
}

.icon-deguo:before {
  content: "\ec9b";
}

.icon-telegram:before {
  content: "\e613";
}

